{% extends "base.html" %}

{% block content %}
<p>Tools for TD, reconstruct version 3.</p>
<p>公測中，歡迎隨意使用。</p>
<P>另外，目前 Debug 模式有打開，如果遇到問題再麻煩把頁面資訊截圖給我。方便 debug。</P>
<div>
    <strong>2022.04.22 Update</strong>
    <ol>
        <li>Add tooltips to some button</li>
        <li>Implement Documents for basic usage</li>
    </ol>
    <strong>2022.04.21 Update</strong>
    <ol>
        <li>Add Material Type(AAS/TN)</li>
        <li>Add RA raw and missing condition to results</li>
    </ol>
    <strong>2022.04.20 Update</strong>
    <ol>
        <li>Implement optical data dump function.</li>
        <li>Modify LC datasheet precision display.</li>
    </ol>
    <strong>2022.04.19 Update</strong>
    <ol>
        <li>
            Add copy profile functions. 
            <p><small>> Due to some data structure implementation, 
            allowed venders can not copy now.</small></p>
        </li>
        <li>
            Add profile units and more information.
        </li>
        <li>
            Modify profile value so the default 
            value can get all results.
        </li>
        <li>
            Add a gray level voltage calculator(for U-Shape measurement)
        </li>
    </ol>
    <strong>2022.04.17 Update</strong>
    <ol>
        <li>
            Fix M1098-like CR compare: LC datasheet update.
            (Higher precise of n is needed)
        </li>
        <li>
            Modified PI and Seal list pages.
        </li>
        <li>
            Set redirect to search page for updating search profiles
        </li>
    </ol>
</div>

{% endblock content %}