{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Reliabilities{% endblock title %}

{% block content %}
<h1>Reliabilities</h1>
<a href="{% url 'reliabilities:search' %}?pure=1&profile=default" 
    class='btn btn-primary'>
    RA Search
</a>
<hr>
<h2>Management</h2>
<a class='btn btn-info' href='/wiki/reliability-user-guide' target="_blank">User Guide</a>
<ol>
    <li> <a href="{% url 'reliabilities:upload' %}">Supplier RA data upload</a> </li>
    <li> <a href="{% url 'reliabilities:search_profile_list' %}">RA Search Profile</a> </li>
    <li> <a href="{% url 'reliabilities:ushape' %}">U Shape</a></li>
</ol>
<hr>
<h2>TR 2</h2>
<ol>
    <li> <a href="{% url 'reliabilities:tr2' %}">TR2 work</a> </li>
</ol>
<h2>TR 3</h2>
<ol>
    <li> <a href="{% url 'reliabilities:image_sticking_traffic_light' %}">IS Traffic Light</a> </li>
{% endblock content %}