{% extends "base.html" %}

{% block title %}RA Search Profile List{% endblock title %}

{% block content %}
<h2>RA Search Profile List</h2>
<ul>
    {% for obj in reliabilitysearchprofile_list %}
    <li><a href="{% url 'reliabilities:search_profile_detail' obj.slug %}">
        {{ obj }}
    </a>
    </li>
    {% endfor %}
</ul>
<hr/>
<p>Add more profile if you like.</p>
<p>
<a class="btn btn-primary"
href="{% url 'reliabilities:search_profile_add' %}" role="button">
Add Profile
</a>
</p>
{% endblock content %}