{% extends 'base.html' %}

{% block title %}AXO Upload Success{% endblock title %};

{% block content %}
<h1>AXO Upload Success</h1>
<a class="btn btn-primary" href="#TODO">Next: Upload Optical Data</a>
<div>
    {{table|safe}}
</div>
<div class="alert alert-info" role="alert">
    <h4 class="alert-heading">File Name</h4>
    {% for row in log.file_name %}
        <p>{{row}}</p>
    {% endfor %}
</div>
<div class="alert alert-warning" role="alert">
    <h4 class="alert-heading">Warning</h4>
    {% for row in log.warning %}
        <p>{{row}}</p>
    {% endfor %}
</div>
{% endblock content %}