{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Opticals{% endblock title %}

{% block content %}
<h1>Opticals</h1>
<div>
    <a href="{% url 'opticals:search' %}?profile=default" class='btn btn-info'>
        TR2 Optical Search
    </a>
</div>
<hr>
<div>
    <h2>Management</h2>
    <ol>
        <li> <a href="{% url 'materials:upload' %}">Material Properties Upload</a> </li>
        <li> <a href="{% url 'products:chip_upload' %}">Chip Conditions Upload</a> </li>
        <li> <a href="{% url 'opticals:rdl_cell_gap_upload' %}">RDL Cell Gap Upload</a> </li>
        <li> <a href="{% url 'opticals:axo_upload' %}">AXO Cell Gap Upload</a> </li>
        <li> <a href="{% url 'opticals:toc_opt_log_upload' %}">TOC Opt Upload</a> </li>
        <li> <a href="{% url 'opticals:toc_rt_log_upload' %}">TOC RT Upload</a> </li>
        <li> <a href="{% url 'opticals:ref_list' %}"> Ref Setting </a></li>
        <li> <a href="{% url 'opticals:calculate' %}"}>TR2 Optical fitting</a></li>
        <li> <a href="{% url 'opticals:search_profile_list' %}">Optical Search Profile</a></li>
    </ol>
</div>
<hr>
<div>
    <h2>Other Funcitons</h2>
    <ol>
        <li><a href="{% url 'opticals:data_dump' %}">OPT Data Dump</a></li>
    </ol>
</div>
{% endblock content %}